.camera-box{

background:#1f2937;

border-radius:20px;

padding:15px;

box-shadow:0 0 40px rgba(37,99,235,.25);

}

.camera-box img{

border-radius:15px;

}

.info-card{

background:#1f2937;

padding:30px;

border-radius:20px;

height:100%;

box-shadow:0 0 30px rgba(37,99,235,.18);

}

.info-card h3{

margin-bottom:20px;

}

.info-card p{

font-size:20px;

margin:20px 0;

}